*,*::before,*::after{box-sizing:border-box}body,h1,h2,h3,h4,p,figure,blockquote,dl,dd{margin:0}ul[role="list"],ol[role="list"]{list-style:none}html:focus-within{scroll-behavior:smooth}body{min-height:100vh;text-rendering:optimizeSpeed;line-height:1.5}a:not([class]){text-decoration-skip-ink:auto}img,picture{max-width:100%;display:block}input,button,textarea,select{font:inherit}@media(prefers-reduced-motion:reduce){html:focus-within{scroll-behavior:auto}*,*::before,*::after{animation-duration:.01ms !important;animation-iteration-count:1 !important;transition-duration:.01ms !important;scroll-behavior:auto !important}}

body#loginBody{
	background: url('../images/login background.png') no-repeat center center fixed;
	background-size: cover;
	font-family: arial;
}
body{
	font-family: ariel;
}
div.loginHeader{
	margin-bottom: 30px;
	text-align: center;
}
div.loginHeader h1{
	font-size: 70px;
	color:#F6BCC3;
	font-weight: bold;
	margin-bottom:0px;
	padding: 0px;
}
div.loginHeader h3{
	font-size: 25px;
	color:#fff;
	border-bottom: 5px solid #fff;
	width: 40%;
	margin: 0 auto;
	text-transform: uppercase;
	display: inline-block;
}

div.loginHeader h3: after{
	content:'';
	display: block;
	height: 2px;
	background: #FFFFFF;
	margin: 0 auto;
}

div.loginHeader p{
	font-size: 20px;
	color: #ffd51e;
	font-style: italic;
}

div.loginBody form{
	margin-top: -5%;
	margin-left: 55%;
	width:400px;
	height: 400px;
	background: rgba(0,0,0,.5);
	padding:60px;
	border: 2px solid #FFFFFF;
	border-radius: 5px;
}

div.loginInputContainer{
	margin-top:30px;
}

div.loginInputContainer label{
	display: block;
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	color: #FFFFFF;
}

div.loginInputContainer input{
	height: 30px;
	width: 100%;
	border: 2px solid #fff;
	font-size: 20px;
	padding: 5px;
	text-align: center;
	font-style: italic;
}

div.loginButtonContainer{
	margin-top: 40px;
	text-align: center;
}
div.loginButtonContainer button{
	font-size: 15px;
	padding: 10px 20px;
	background: #368ADF;
	border:none;
	color: #0c0907;
	text-transform: uppercase;
	font-style: italic;
	font-weight: bold;
} 

/* DASHBOARD STYLE */

#dashboardMainContainer{
	display: flex;
	flex-direction: row;
}
div.dashboard_sidebar{
	width: 20%;
	background: #323232;
	height: 150vh;
}
div.dashboard_content_container{
	width: 80%;
	background: #f4f6f9;
}
h3.dashboard_logo{
	color: #F6BCC3;
	font-size: 60px;
	text-align: center;
}
div.dashboard_sidebar_user{
	text-align: center;
	position: relative;
	padding-bottom: 20px;
	border-bottom: 1px solid #fff;
}
div.dashboard_sidebar_user img{
	width: 60px;
	display: inline-block;
	border-radius: 50%;
	border: 1px solid #F6BCC3;
	margin-right: 5px;
	vertical-align: middle;	
}
div.dashboard_sidebar_user span{
	top:20%;
	font-size: 10px;
	text-transform: uppercase;
	color: #fff;
	display: inline-block;
}
ul.dashboard_menu_lists{
	list-style: none;
	margin-top: 5px;
	margin-left: -37px;
}
ul.dashboard_menu_lists li{
	padding:15px 10px;
	text-transform: uppercase;
}
ul.dashboard_menu_lists li a{
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 20px;
}
ul.dashboard_menu_lists li a i{
	font-size: 20px;
}
ul.dashboard_menu_lists li.menuActive{
	background: #F6BCC3;
	color: #fff;
}
ul.dashboard_menu_lists li:hover{
	background: #F6BCC3;
	color: #fff; 
	transition: 0.3s all;
}
div.dashboard_topNav{
	background: #fff;
	padding: 20px;
}
div.dashboard_topNav a{
	color: #000000;
	font-size: 15px;
	text-decoration: none;
}
a#logoutBtn{
	float: right;
}
div.dashboard_content{
	padding: 50px 10px 10px 10px;
}
div.dashboard_content_main{
	background: #fff;
	min-height: 800px;
	height:120vh;
}
div#errorMessage {
	background: #fff;
	text-align: center;
	color: red;
	font-size: 20px;
	padding: 11px;
}